<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Prymag_ReviewsImporter::top_level"
             title="Reviews Importer"
             module="Prymag_ReviewsImporter"
             sortOrder="9999"
             resource="Magento_Backend::content" />
         <add id="Prymag_ReviewsImporter::level_1"
             title="Import"
             module="Prymag_ReviewsImporter"
             sortOrder="0"
             action="prymag_importer/import"
             parent="Prymag_ReviewsImporter::top_level"
             resource="Magento_Backend::content" />
    </menu>
</config>